<center>
<h1>
<%= @game.player1.name %> attacked <%= @game.player2.name %>

<br>
<%= @game.player1.name %> has <%= @game.player1.hp%>HP
<br>
<%= @game.player2.name %> has <%= @game.player2.hp%>HP
</h1>

<form action="/play">
  <input type="submit" value="Go Back">
</form>
</center>
