<h1>

  Current Turn: <%= @game.current_turn.name %>

  <br>

  <%= @game.player1.name %> v <%= @game.player2.name %>

</h1>

<h2>

  <%= @game.player1.name %> has <%= @game.player1.hp %>
  <br>
  <%= @game.player2.name %> has <%= @game.player2.hp %>


</h2>

<form action="/attack">
  <input type="submit" value="Attack">
</form>
